# ABM Data Prep
current version: August 12 2019

In [280]:
import pandas as pd
import os
import numpy as np

In [281]:
surveydf = pd.read_csv('S:/AdminGroups/ResearchAnalysis/BER/ABM/FY18/_R_validation_notebook/data/survey/survey_trips_full.csv')

C:\Users\sbuchhorn\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (84,85,86,87,88) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

#### SURVEY DATA (assembled previously)

In [325]:
# surveydf = pd.read_csv('S:/AdminGroups/ResearchAnalysis/BER/ABM/FY18/_R_validation_notebook/data/survey/survey_trips_full.csv')

# # trip purpose
# trip_purpose_survey_save = 'S:/Projects_FY19/ModelDataVizPrototype/data/abm/trips_sunburst/survey_trip_purpose.csv'

# x = surveydf.groupby(['trip_mode','trip_purpose']).agg({'EXPWGT':'sum'}).rename(columns={'EXPWGT':'QUANTITY'}).reset_index()
# x['Trips by purpose'] = x['trip_purpose'].map(purpose_dict)
# q = x[['Trips by purpose','trip_purpose','QUANTITY']]
# q.to_csv(trip_purpose_survey_save,index=False)

# # trip mode
# trip_mode_survey_save = 'S:/Projects_FY19/ModelDataVizPrototype/data/abm/trips_sunburst/survey_trip_mode.csv'

# t = surveydf.groupby('trip_mode').agg({'EXPWGT':'sum'}).rename(columns={'EXPWGT':'QUANTITY'}).reset_index()
# t['Trips by mode'] = t['trip_mode'].map(mode_dict)
# s = t[['Trips by mode','trip_mode','QUANTITY']]
# s.to_csv(trip_mode_survey_save,index=False)

# surveyone = surveydf[surveydf['JOINT_STATUS'] == 0]
# surveyone.groupby(['trip_mode','type']).agg({'EXPWGT':'sum'}).rename(columns={'EXPWGT':'QUANTITY'}).reset_index()#.to_clipboard(excel=True,sep='\t')

# surveyhh = pd.read_csv('S:/AdminGroups/ResearchAnalysis/BER/ABM/FY18/_R_validation_notebook/data/survey/survey_hh.csv')
# surveyhh = surveyhh[['SAMPN','HINCCAT2']]

# surveyinc = surveydf.merge(surveyhh,on='SAMPN')

# reclassdict = {1: 1,
#                2: 1,
#                3: 2,
#                4: 3,
#                5: 3,
#                6: 4,
#                7: 5}

# surveyinc['HINCreclass'] = surveyinc.HINCCAT2.map(reclassdict)
# surveyinc.groupby(['HINCreclass','trip_mode']).agg({'EXPWGT':'sum'}).rename(columns={'EXPWGT':'QUANTITY'}).reset_index()

# surveyinc.to_csv("C:/Users/sbuchhorn/Desktop/dataviz/abm_validation/abm_model_data/surveyinc.csv",index=False)

# # distance
# distSkim = pd.read_csv(r'S:\AdminGroups\ResearchAnalysis\BER\ABM\FY18\validation\data\correspondance\distSkim.csv')
# surveydf.loc[:,'ID'] = surveydf['ORIG_TAZ'].astype(str) + "-" + surveydf['DEST_TAZ'].astype(str)
# distSkim.loc[:,'ID'] = distSkim['ORIG'].astype(str) + "-" + distSkim[' DEST'].astype(str)
# #dist Skim
# surveyDist = surveydf.merge(distSkim,how='left',left_on='ID',right_on="ID")
# surveyDist['Dist (Miles)'] = surveyDist[' DIST'].map(classdist)
# surveyDist.groupby(['Dist (Miles)','trip_purpose']).agg({'EXPWGT':'sum'}).rename(columns={'EXPWGT':'QUANTITY'}).reset_index()

## itrips

In [11]:
output_dir = 'S:/AdminGroups/ResearchAnalysis/DataViz/abm_viz_report/modeldata_2010_calibration/raw/'
tap_dir = 'S:/AdminGroups/ResearchAnalysis/DataViz/abm_viz_report/modeldata_2010_calibration/raw/archive/'

In [18]:
expansion_size = 5

In [89]:
iTripscsv = pd.read_csv(os.path.join(output_dir,'indivTripData_1.csv')
                     ,usecols = [u'hh_id',u'person_id',u'tour_purpose'
                                 , u'trip_mode', u'tour_mode', u'orig_taz', u'dest_taz',u'orig_walk_segment'
                                 ,u'orig_purpose',u'dest_purpose',u'board_tap',u'orig_maz'
                                 , u'alight_tap'])

In [90]:
len(iTripscsv)

5198172

In [99]:
len(iTripscsv) * 5

25990860

In [6]:
jTrips = pd.read_csv(os.path.join(output_dir,'jointTripData_1.csv')
                     ,usecols = [u'hh_id',u'tour_purpose',u'orig_maz',u'orig_walk_segment'
                                 , u'trip_mode', u'tour_mode', u'orig_taz', u'dest_taz'
                                 ,u'orig_purpose',u'dest_purpose',u'board_tap', u'alight_tap'
                                ,u'num_participants'])

In [91]:
len(jTrips)

1164928

In [100]:
len(jTrips) * 5

5824640

In [12]:
tap = pd.read_csv(os.path.join(tap_dir,'tap_attributes.csv')
                 ,usecols=['tap_id','f_pnr_sp','if_pnr_sp','metra_rail','cta_rail','bus_exp','bus_local','taz09'])

In [17]:
tazgroups = pd.read_csv(r'S:\AdminGroups\ResearchAnalysis\BER\ABM\FY18\data\zoneGroups.txt')
distSkim = pd.read_csv(r'S:\AdminGroups\ResearchAnalysis\BER\ABM\FY18\validation\data\correspondance\distSkim.csv')

In [7]:
iTripsjTrips = iTripscsv.append(jTrips)

C:\Users\sbuchhorn\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [8]:
iTrips_ = iTripsjTrips.loc[(iTripsjTrips['trip_mode'] > 0) & (iTripsjTrips['tour_mode'] > 0)]

In [104]:
len(iTrips_) * 5

31812590

In [13]:
iTripso = iTrips_.merge(tap[['tap_id','metra_rail','cta_rail','bus_exp','bus_local','taz09']],
                        how='left',left_on='board_tap',right_on = 'tap_id')

In [14]:
iTripso.columns = iTrips_.columns.tolist() + ['tap_idb','metra_railb','cta_railb','bus_expb','bus_localb','taz09b']

In [33]:
iTrips = iTripso.merge(tap[['tap_id','metra_rail','cta_rail','bus_exp','bus_local','taz09']],
                       how='left',left_on='alight_tap',right_on = 'tap_id')

In [34]:
iTrips.columns = iTripso.columns.tolist() + ['tap_ida','metra_raila','cta_raila','bus_expa','bus_locala','taz09a']

In [35]:
iTrips.loc[:,'Model'] = expansion_size

iTrips.loc[:,'trip_purpose'] = 'na'
iTrips.loc[:,'trip_purpose'] = np.where(iTrips['dest_purpose'] == 'Home',iTrips['orig_purpose'],iTrips['dest_purpose'])
iTrips.loc[:,'trip_purpose'] = np.where(iTrips['trip_purpose'] == 'Discretionary','discretionary',iTrips['trip_purpose'])
iTrips.loc[:,'trip_purpose'] = np.where(iTrips['trip_purpose'] == 'EatingOut','eatingout',iTrips['trip_purpose'])
iTrips.loc[:,'trip_purpose'] = np.where(iTrips['trip_purpose'] == 'Escort','escort',iTrips['trip_purpose'])
iTrips.loc[:,'trip_purpose'] = np.where(iTrips['trip_purpose'] == 'Maintenance','maintenance',iTrips['trip_purpose'])
iTrips.loc[:,'trip_purpose'] = np.where(iTrips['trip_purpose'] == 'Shop','shop',iTrips['trip_purpose'])
iTrips.loc[:,'trip_purpose'] = np.where(iTrips['trip_purpose'] == 'University','university',iTrips['trip_purpose'])
iTrips.loc[:,'trip_purpose'] = np.where(iTrips['trip_purpose'] == 'Visiting','visiting',iTrips['trip_purpose'])
iTrips.loc[:,'trip_purpose'] = np.where(iTrips['trip_purpose'] == 'Work','work',iTrips['trip_purpose'])
iTrips.loc[:,'trip_purpose'] = np.where(iTrips['trip_purpose'] == 'work related','work-based',iTrips['trip_purpose'])

In [36]:
iTrips['trip_mode_code'] = iTrips['trip_mode']

In [37]:
iTrips[['trip_mode']] = iTrips[['trip_mode']].replace([1,2,3,4,5,6,7,8,9,10,11,12,13,14]
                     ,['Drive alone free','Drive alone pay'
                       ,'Shared ride 2 free','Shared ride 2 pay'
                       ,'Shared ride 3+ free','Shared ride 3+ pay'
                       ,'Walk','Bike','Walk to transit'
                       ,'Walk to transit','Drive to transit'
                       ,'Drive to transit','Taxi','School bus'])

In [38]:
# combines transit access modes - this is what we'll mostly use
iTrips[['trip_mode_transit']] = iTrips[['trip_mode_code']].replace([1,2,3,4,5,6,7,8,9,10,11,12,13,14]
                     ,['Drive alone free','Drive alone pay'
                       ,'Shared ride 2 free','Shared ride 2 pay'
                       ,'Shared ride 3+ free','Shared ride 3+ pay'
                       ,'Walk','Bike','Transit'
                       ,'Transit','Transit'
                       ,'Transit','Taxi','School bus'])

In [42]:
iTrips.to_csv("D:/dataviz/abm_model_data/itrips.csv")

## Data for csv1314_tripmode.csv

In [282]:
modeagg = iTrips.groupby('trip_mode_transit').agg({'hh_id':'count'}) * expansion_size

In [283]:
b = modeagg.transpose()

In [284]:
b['sharedridepay'] = b['Shared ride 3+ pay'] + b['Shared ride 2 pay']

In [285]:
c = b.transpose().sort_values('hh_id',ascending=False).transpose()

In [318]:
d = c.drop(['Shared ride 3+ pay', 'Shared ride 2 pay'],axis=1)

In [319]:
d

trip_mode_transit,Drive alone free,Shared ride 2 free,Shared ride 3+ free,Walk,Transit,School bus,Bike,Drive alone pay,sharedridepay,Taxi
hh_id,13271835,5680670,5146245,4420785,1626340,878250,329390,256355,102950,99770

In [320]:
d.to_clipboard()

In [78]:
d.sum(axis=1)

hh_id    31812590
dtype: int64

## Data for csv9_mode_person.csv

In [79]:
# single person trips only

In [80]:
perm = pd.read_csv(output_dir + "personData_1.csv")

In [88]:
len(perm)

2048052

In [81]:
modwper = iTrips.merge(perm,on='person_id')

In [84]:
modwper.columns

Index(['alight_tap', 'board_tap', 'dest_purpose', 'dest_taz', 'hh_id_x',
       'num_participants', 'orig_maz', 'orig_purpose', 'orig_taz',
       'orig_walk_segment', 'person_id', 'tour_mode', 'tour_purpose',
       'trip_mode', 'tap_idb', 'metra_railb', 'cta_railb', 'bus_expb',
       'bus_localb', 'taz09b', 'tap_ida', 'metra_raila', 'cta_raila',
       'bus_expa', 'bus_locala', 'taz09a', 'Model', 'trip_purpose',
       'trip_mode_code', 'trip_mode_transit', 'hh_id_y', 'person_num', 'age',
       'gender', 'type', 'value_of_time', 'fp_choice', 'activity_pattern',
       'imf_choice', 'inmf_choice', 'walk_time_weight', 'walk_speed',
       'max_walk', 'user_class_work_walk', 'user_class_work_pnr',
       'user_class_work_knr', 'user_class_non_work_walk',
       'user_class_non_work_pnr', 'user_class_non_work_knr'],
      dtype='object')

In [86]:
modwper.num_participants.value_counts()

Series([], Name: num_participants, dtype: int64)

In [87]:
len(modwper)

5198172

In [98]:
len(modwper) * 5

25990860

In [108]:
a = (modwper.groupby(['trip_mode_transit','type']).agg({'trip_mode_transit':'count'}).rename(columns={'trip_mode_transit':'COUNT'}) * 5).reset_index()

In [117]:
b = a.groupby('trip_mode_transit').agg({'COUNT':'sum'}).reset_index()

In [119]:
b['type'] = 'All'

In [122]:
c = a.append(b, ignore_index=True)

C:\Users\sbuchhorn\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [125]:
surveyone = surveydf[surveydf['JOINT_STATUS'] == 0]

In [127]:
smodetype = surveyone.groupby(['trip_mode','type']).agg({'EXPWGT':'sum'}).rename(columns={'EXPWGT':'QUANTITY'}).reset_index()

In [134]:
smodetypeall = smodetype.groupby('trip_mode').agg({'QUANTITY':'sum'}).reset_index()

In [135]:
smodetypeall['type'] = 'All'

In [136]:
smodecombo = smodetype.append(smodetypeall, ignore_index=True)

C:\Users\sbuchhorn\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [131]:
d = c.sort_values('COUNT',ascending=False).reset_index(drop=True)

In [139]:
smodecombo.head()

       QUANTITY trip_mode                        type
0   4978.354652      Bike  Child too young for school
1  95009.707931      Bike            Full-time worker
2  20288.397909      Bike                  Non-worker
3  26230.853185      Bike            Part-time worker
4   9395.145395      Bike                     Retired

In [141]:
e = d.merge(smodecombo,left_on=["trip_mode_transit",'type'],right_on=['trip_mode','type'])

In [142]:
e.head()

,COUNT,trip_mode_transit,type,QUANTITY,trip_mode
0,13271835,Drive alone free,All,1.337389e+07,Drive alone free
1,7586910,Drive alone free,Full-time worker,7.717476e+06,Drive alone free
2,3880330,Walk,All,2.780561e+06,Walk
3,3074575,Shared ride 3+ free,All,2.608535e+06,Shared ride 3+ free
4,2674540,Shared ride 2 free,All,3.802079e+06,Shared ride 2 free

In [144]:
f = e.rename({'trip_mode_transit':'Index','COUNT':'Model 01','QUANTITY':'Survey 01','type':'Category'},axis=1)

In [147]:
f = f[['Index','Model 01','Survey 01','Category']]

In [148]:
f['Title'] = f['Category']

In [150]:
f.to_clipboard(excel=True)

## Data for csv10_mode_income

In [152]:
hh = pd.read_csv(output_dir + 'hhData_1.csv')
modwhh = iTrips.merge(hh,on='hh_id')

In [153]:
def classincome(x):
   if x < 35000:
       return 1
   elif x < 50000:
       return 2
   elif x < 75000:
       return 3
   elif x < 100000:
       return 4
   elif x >= 100000:
       return 5

In [154]:
modwhh['incomeclass'] = modwhh['income'].map(classincome)

In [165]:
a = (modwhh.groupby(['incomeclass','trip_mode_transit']).agg({'trip_mode_transit':'count'})*5).rename(columns={'trip_mode_transit':'COUNT'}).reset_index()

In [166]:
b = a.groupby('trip_mode_transit').agg({'COUNT':'sum'}).reset_index()
b['incomeclass'] = 'All'
c = a.append(b, ignore_index=True)

C:\Users\sbuchhorn\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [170]:
c.sort_values('COUNT',ascending=False).to_clipboard()

## Data for csv5_mode_purpose

In [190]:
a = (iTrips.groupby(['trip_mode_transit','trip_purpose']).agg({'trip_purpose':'count'}) * 5).rename(columns={'trip_purpose':'COUNT'}).reset_index()

In [191]:
b = a.groupby('trip_mode_transit').agg({'COUNT':'sum'}).reset_index()
b['trip_purpose'] = 'All'
c = a.append(b, ignore_index=True)

C:\Users\sbuchhorn\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [195]:
c.sort_values('COUNT',ascending=False).to_clipboard()

## Data for csv15_16

In [203]:
a = (iTrips.groupby(['trip_purpose']).agg({'trip_purpose':'count'})*5).rename(columns={'trip_purpose':'COUNT'}).reset_index()

In [206]:
a.sort_values('COUNT',ascending=False).transpose().to_clipboard()

## Data for csv11

In [209]:
a = (modwper.groupby(['type','trip_purpose']).agg({'trip_purpose':'count'})*5).rename(columns={'trip_purpose':'COUNT'}).reset_index()

In [210]:
b = a.groupby('trip_purpose').agg({'COUNT':'sum'}).reset_index()
b['type'] = 'All'
c = a.append(b, ignore_index=True)

C:\Users\sbuchhorn\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [212]:
c.to_clipboard()

## Data for csv12 and 12b

In [213]:
tazgroups = tazgroups.groupby('zone09').agg({'GROUP_':'first'})
tazgroups = tazgroups.reset_index()

In [214]:
iTripsTAZO = iTrips.merge(tazgroups,how='left',left_on='orig_taz',right_on="zone09")
iTripsTAZO.columns = iTrips.columns.tolist() + ['origzone09','origAreaGroup']
#iTripsTAZO_ = iTripsTAZO.drop_duplicates('index')

iTripsTAZOD = iTripsTAZO.merge(tazgroups,how='left',left_on='dest_taz',right_on="zone09")
iTripsTAZOD.columns = iTripsTAZO.columns.tolist() + ['destzone09','destAreaGroup']

iTripsTAZOD.loc[:,'ID'] = iTripsTAZOD['origzone09'].astype(int).astype(str) + "-" +\
                    iTripsTAZOD['destzone09'].astype(int).astype(str)

In [215]:
distSkim.loc[:,'ID'] = distSkim['ORIG'].astype(str) + "-" + distSkim[' DEST'].astype(str)

In [216]:
iTripsDist = iTripsTAZOD.merge(distSkim,how='left',left_on='ID',right_on="ID")

In [217]:
def classdist(x):
    if x < 2.5:
        return 1
    elif x < 5:
        return 2
    elif x < 10:
        return 3
    elif x < 15:
        return 4
    elif x < 20:
        return 5
    elif x < 25:
        return 6
    elif x < 30:
        return 7
    elif x >= 30:
        return 8

In [218]:
iTripsDist['distclass'] = iTripsDist[' DIST'].map(classdist)

In [233]:
a = (iTripsDist.groupby(['distclass','trip_purpose']).agg({'trip_purpose':'count'})*5).rename(columns={'trip_purpose':'count'}).reset_index()

In [234]:
b = a.groupby('trip_purpose').agg({'count':'sum'}).reset_index()
b['distclass'] = 'All'
c = a.append(b, ignore_index=True)

C:\Users\sbuchhorn\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [237]:
c.to_clipboard()

## data for csv7

In [267]:
wortrips = iTripsDist[iTripsDist['trip_purpose'] == 'work']

In [268]:
len(wortrips)

1188015

In [269]:
a = (wortrips.groupby(['distclass','trip_mode_transit']).agg({'trip_purpose':'count'})*5).rename(columns={'trip_purpose':'count'}).reset_index()

In [270]:
b = a.groupby('distclass').agg({'count':'sum'}).reset_index()
b['trip_mode_transit'] = 'All'
c = a.append(b, ignore_index=True)

C:\Users\sbuchhorn\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [271]:
c.to_clipboard()

## data for csv8

In [272]:
workonly = iTripsDist[iTripsDist['trip_purpose'] == 'work-based']

In [273]:
len(workonly)

231638

In [274]:
a = (workonly.groupby(['distclass','trip_mode_transit']).agg({'trip_purpose':'count'})*5).rename(columns={'trip_purpose':'count'}).reset_index()

In [275]:
b = a.groupby('distclass').agg({'count':'sum'}).reset_index()
b['trip_mode_transit'] = 'All'
c = a.append(b, ignore_index=True)

C:\Users\sbuchhorn\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [276]:
c.to_clipboard()

In [279]:
c[c['trip_mode_transit'] == 'Taxi']

    count  distclass trip_mode_transit
4     135          1              Taxi
13    420          2              Taxi
23   2045          3              Taxi
33   1470          4              Taxi
42    820          5              Taxi
51    550          6              Taxi
59    565          7              Taxi
67   2440          8              Taxi